@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom color utilities */
.text-coral-500 {
  color: #FF7373;
}

.text-coral-600 {
  color: #E65C5C;
}

.bg-coral-50 {
  background-color: #FFF5F5;
}

.bg-coral-100 {
  background-color: #FFE5E5;
}

.bg-coral-500 {
  background-color: #FF7373;
}

.bg-coral-600 {
  background-color: #E65C5C;
}

.border-coral-100 {
  border-color: #FFE5E5;
}

.border-coral-500 {
  border-color: #FF7373;
}





